################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

*.suo
/TextRedactor/Controls/bin/Debug
/TextRedactor/Controls/bin/Release
/TextRedactor/Controls/obj/Debug/TempPE
*.dll
*.pdb
/TextRedactor/TextRedactor
/TextRedactor/packages
/TextRedactor/Controls/bin
/TextRedactor/Controls/obj
/TextRedactor/TextRedactor
/TextRedactor/packages
/.vs
/TextRedactor/ApplicationLayer/obj/Debug
/TextRedactor/UILayer/obj/Debug
/TextRedactor/TextRedactor123
